
body {
  color: #808080;
  text-align: center;
  align-items: center;
}

h3 {
  color: #ff1f8f
}

#show-cocktail {
    max-width: 25%;
    height:auto;
    border-radius: 15px 50px;
}

.list-inline .list-inline-item {
  padding: 4px 4px 4px 4px;
  color: #ff1f8f
}


