.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: #ff1f8f;
  text-decoration: none;
  &:hover {
    color: #2dc7ff;
  }
}


